#changeableDiv {
    width: 50%;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    align-content: center;
    margin: auto;
}

#changeableDiv * {
    flex-wrap: wrap;
    margin: 5em;
}

