<h1>ProductManagement#add</h1>

<form action="/product_management/add" method="get">
  <label for="name">Name: </label><input type="text" name="name">
  <label for="price">Preis: </label><input type="text" name="price">
  <button type="submit"> Submit </button>
</form>
<a href="/product_management/show">Zurück zur übersicht</a>